* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 948px;
    margin: 0 auto;
   
   
}

@import "blocks/menu";
@import "blocks/title";
@import "blocks/promo";
@import "blocks/about";
@import "blocks/skills";
@import "blocks/rating";
@import "blocks/portfolio";
@import "blocks/store";
