.store {
    a {
        font-size: 18px;
        text-align: center;
        text-decoration-line: underline;
        :hover {
            cursor: pointer;
        }


color: #070707;
    }
    background-color: #F6F6F6;
    padding:40px 0px 104px 0px;
    background-size: 100% 100%;
    img {
        display: block;
        margin: 0 auto;
    }
   
}